<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="myCtrl">
	<div class="container">
		<h1>rxPager</h1>
		<p>修改自brantwills 的<a href="https://github.com/brantwills/Angular-Paging" target="_blank">angular paging</a>，精简部分配置项，增加最大显示页码限制，和原插件逻辑不太一致</p>

		<h2>default settings</h2>
		<p>默认配置：最多显示5页，两端1页，总页码为0时隐藏分页组件</p>
		<rx-pager page="page1" page-size="10" total="total1" paging-action="action1(page, pageSize, total)"></rx-pager>
		<div class="well">
			<form class="form-inline">
				<div class="form-group">
					<label for="">page1</label>
					<input type="text" class="form-control" ng-model="page1">
				</div>
				<div class="form-group">
					<label for="">pageSize1</label>
					<input type="text" class="form-control" ng-model="pageSize1">
				</div>
				<div class="form-group">
					<label for="">total1</label>
					<input type="text" class="form-control" ng-model="total1">
				</div>
			</form>
		</div>

		<h2>custom settings</h2>
		<p>自定义配置：最多显示9页，两端2页，总页码为0时不隐藏</p>
		<rx-pager page="page2" page-size="pageSize2" total="total2" settings="custom" paging-action="action2(page, pageSize, total)"></rx-pager>
		<div class="well">
			<form class="form-inline">
				<div class="form-group">
					<label for="">page2</label>
					<input type="text" class="form-control" ng-model="page2">
				</div>
				<div class="form-group">
					<label for="">pageSize2</label>
					<input type="text" class="form-control" ng-model="pageSize2">
				</div>
				<div class="form-group">
					<label for="">total2</label>
					<input type="text" class="form-control" ng-model="total2">
				</div>
			</form>
		</div>
	</div>
	<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
	<script src="pager.js"></script>
	<script>
		angular.module('myApp', ['rx.pager']).controller('myCtrl', function($scope) {
			$scope.page1 = 3;
			$scope.pageSize1 = 5;
			$scope.total1 = 23;
			$scope.action1= function(page, pageSize, total) {
				console.log({page: page, pageSize: pageSize, total: total});
			}

			$scope.page2 = 5;
			$scope.pageSize2 = 10;
			$scope.total2 = 102;
			$scope.custom = {
				endPoint: 2,
				maxVisible: 9,
				hideIfEmpty: false,
				textDotsClass: 'glyphicon glyphicon-option-horizontal',
	        	textPrevClass: 'glyphicon glyphicon-menu-left',
	        	textNextClass: 'glyphicon glyphicon-menu-right',
			};
			$scope.action2 = function(page, pageSize, total) {
				console.log({page: page, pageSize: pageSize, total: total});
			}
		});
	</script>
</body>
</html>